# Satelity
Jednoduchá ukázka, která předvede využití jazyka Python na SQL Serveru.

## Kontrola zapnutí externích skriptů

In [ ]:
exec sp_configure 'external scripts enabled'
go

## Nejjednodušší test fungování
Jen vypíšeme konstantní řetězec.

In [ ]:
use Languages
go

exec sp_execute_external_script
	@language = N'Python'
	, @script = N'
print("Jednoduchy vypis")
'
go

## Jak Python vidí data dodaná SQL Serverem

V následujícím příkazu dáme do satelitního skriptu výsledek dotazu a podíváme se, jak s ním pracovat.
*Pozn: Tady v notebooku není výsledek vidět.*

In [ ]:
exec sp_execute_external_script
	@language = N'Python'
	, @script = N'
print(type(InputDataSet))
'
	, @input_data_1 = N'SELECT name as jmeno_db, create_date as datum_vytvoreni, user_access_desc from sys.databases'
go

## Jak lze získat výsledek zpátky ze satelitního zpracování

In [ ]:
exec sp_execute_external_script
	@language = N'Python'
	, @script = N'
OutputDataSet = InputDataSet
'
	, @input_data_1 = N'SELECT name as jmeno_db, create_date as datum_vytvoreni, user_access_desc from sys.databases'
go

# Uložení výsledku zpracování dat do externího souboru
Aby tento poslední příklad fungoval, je nutno na cílovou cestu nastavit oprávnění pro **ALL APPLICATION PACKAGES**.

In [ ]:
exec sp_execute_external_script
	@language = N'Python'
	, @script = N'
InputDataSet.to_csv(path, index=False)
'
	, @input_data_1 = N'SELECT name as jmeno_db, create_date as datum_vytvoreni, user_access_desc from sys.databases'
	, @params = N'@path nvarchar(100)'
	, @path = N'C:\Temp\seznamdb_py.csv'
go